<!-- Section -->
{% set section = include_dict.section %}
<section id="{{ section.section_id }}" class="posts">
    {% set display_posts = getPages("/posts") %}
    {% for post in display_posts | sort(true, true, "date") %}
    <a href="{{ post.url | relative_url }}" class="article-teaser">
        {% if post.params.thumb_img_path %}<img class="thumbnail" src="{{ post.params.thumb_img_path | relative_url }}" alt="{{ post.params.thumb_img_alt }}"/>{% endif %}
        <div class="copy">
            <h2>{{ post.params.title }}</h2>
            <h3 class="publish-date">Published on {{ post.date | date_format("%B %d, %Y") }}</h3>
            {% if post.params.excerpt %}
            <p class="summary">{{ post.params.excerpt }}</p>
            {% endif %}
            {% if section.has_more_link == true and section.more_link_text %}
            <div class="text-link">{{ section.more_link_text }}</div>
            {% endif %}
        </div>
    </a>
    {% endfor %}
</section>